nav {
    position: fixed;  /* Fix navbar at the top */
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1e4b36;
    padding: 20px 40px; /* Increased padding for more space */
    z-index: 1000;
}

nav a {
    margin-left: 30px; /* Increased space between links */
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-weight: bold;
    font-size: 1.2rem; /* Increased font size */
    transition: color 0.3s;
}

nav a:hover {
    color: #ffcc00;
}
