/* General Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

/* Full Page Hero Section */
#root {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  background: linear-gradient(to right, #5b1c6b, #3D0A66);
  color: rgb(253, 250, 250);
}

/* Heading and Subtext */
.hero-content {
  max-width: 800px;
}

.hero-content h1 {
  font-size: 3rem;
  font-weight: bold;
  margin-bottom: 10px;
  position: relative;
  top: 50px;
}

.hero-content p {
  font-size: 1.2rem;
  margin-bottom: 20px;
}

/* CTA Button */
.btn {
  background-color: #6C04BB;
  padding: 12px 24px;
  font-size: 1.2rem;
  border-radius: 10px;
  color: white;
  text-decoration: none;
  transition: 0.3s;
}

.btn:hover {
  background-color: #c300ff;
}
